%nav.navbar.navbar-expand-lg.navbar-light.bg-primary
  .container-fluid
    = link_to "Pernix", root_path, class: "navbar-brand"

    %ul.navbar-nav.me-0.mb-2.mb-lg-0
      %li.nav-item
        - if current_user
          = link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link"
        - else
          = link_to "Sign in", new_user_session_path, class: "nav-link"
